.components-animate__appear {
	animation: components-animate__appear-animation 200ms cubic-bezier(0.1, 0.82, 0.25, 1);
	transform-origin: center center;
	animation-fill-mode: forwards;
	@include reduce-motion;

	&.is-from-top,
	&.is-from-top.is-from-left {
		transform-origin: top left;
	}
	&.is-from-top.is-from-right {
		transform-origin: top right;
	}
	&.is-from-bottom,
	&.is-from-bottom.is-from-left {
		transform-origin: bottom left;
	}
	&.is-from-bottom.is-from-right {
		transform-origin: bottom right;
	}
}

@keyframes components-animate__appear-animation {
	0%,
	20% {
		transform: scale(0, 0);
	}
	100% {
		transform: scale(1, 1);
	}
}

.components-animate__slide-in {
	animation: components-animate__slide-in-animation 0.1s cubic-bezier(0, 0, 0.2, 1);
	animation-fill-mode: forwards;
	@include reduce-motion;

	&.is-from-left {
		transform: translateX(+100%);
	}
}

@keyframes components-animate__slide-in-animation {
	100% {
		transform: translateX(0%);
	}
}
