body {
	transition: margin 0.2s;

	#adminmenumain,
	#wpadminbar {
		transition: all 0.2s;
	}

	#wpcontent,
	#wpfooter {
		transition: margin 0.2s;
	}
}

body.is-fullscreen-mode {
	// Reset the html.wp-topbar padding
	margin-top: -$admin-bar-height-big;
	@include break-medium() {
		margin-top: -$admin-bar-height;
	}

	#adminmenumain,
	#wpadminbar {
		visibility: hidden;
		opacity: 0;
	}

	#wpadminbar {
		transform: translateY(-100%);
	}

	#adminmenumain {
		transform: translateX(-100%);
	}

	#wpcontent,
	#wpfooter {
		margin-left: 0;
	}

	.edit-post-header {
		@include slide_in_top(0.1s);
	}
}
