.editor-format-toolbar__link-container-content {
	display: flex;
}

.editor-format-toolbar__link-container-value {
	margin: $grid-size - $border-width;
	flex-grow: 1;
	flex-shrink: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	min-width: 150px;
	max-width: 500px;

	&.has-invalid-link {
		color: $alert-red;
	}
}

.editor-format-toolbar__link-selection {
	position: absolute;
	background: rgba(0, 163, 255, 0.25);
}
